[submodule "src/hyperoptim/klrfinder"]
	path = src/hyperoptim/klrfinder
	url = https://github.com/magisterbrown/keras_lr_finder.git
[submodule "models/tensorflow/automl"]
	path = models/tensorflow/automl
	url = https://github.com/google/automl
